.tile {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    box-sizing: border-box;
}

input.tile {
    font-style: oblique;
    font-size: 1.5rem;
    color: rgb(0, 89, 255);
}

span.tile {
    font-weight: bold;
    font-size: 1.25rem;
}

.tile.top {
    border-top: 2px black solid;
}

.tile.bottom {
    border-bottom: 2px black solid;
}

.tile.right {
    border-right: 2px black solid;
}

.tile.left {
    border-left: 2px black solid;
}

.tile:focus {
    outline: none;
    box-shadow: 2px 2px 2px 2px grey inset;
    transition: .2s;
}

@media screen and (max-width: 560px) {
    .tile {
        width: 30px;
        height: 30px;
    }
}